.save-the-date {
    .card {
        position: relative;
    }
    &__name {
        color: #fb205d;
        font-size: 4.9em;
        font-weight: $font-weight-bold;
        position: absolute;
        right: 0px !important;
        left: auto !important;
        line-height: .8em;
        top: 30px !important;
    }

    .content {
        position: absolute;
        bottom: 40px !important;
        top: auto !important;
        &-title {
            font-size: 2.5em;
            margin-left: -90px;
            font-weight: $font-weight-bold;
        }
    }
}